<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/confirm.css}" />
    <title>社員登録画面</title>
</head>
<body>
    <h1>社員情報登録 (確認)</h1>
    <form th:action="@{/insert/complete}" method="post">

    

<div class="touroku-all">    
    <div class="touroku">
        <div class="form-row">
    <p>社員名 <span class="required">*</span></p><input class="text1" type="text" name="name" th:value="${name}" readonly>
        </div>

        <div class="form-row">
    <p>年齢 <span class="required">*</span></p><input class="text2" type="number" name="age" th:value="${age}" readonly>
        </div>

        <div class="form-row">
    <p>パスワード <span class="required">*</span></p><input class="text3" type="password" name="password" th:value="${password}" readonly>
        </div>

        <div class="form-row">
    <p>パスワード確認 <span class="required">*</span></p><input class="text4" type="password" name="passwordConfirm" th:value="${passwordConfirm}" readonly>
        </div>

    <div class="confirm-message">
    こちらで登録します。よろしいですか？
    </div> 
    
    </div>



<div class="touroku-under">
    <input class="push" type="submit" value="登録">
    <a th:href="@{/insert}" class="back"> 戻る</a>
</div>


    </div>    

    </form>
    
</body>
</html>