<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メインメニュー</title>
    <link rel="stylesheet" th:href="@{/layout.css}">
    <link rel="stylesheet" th:href="@{/menu.css}">
</head>
<body>
    <!--共通ヘッダー-->
    <div th:replace="~{layout::header}"></div>
    <main>
        <h1>トップメニュー</h1>
        <!--リンクの表示-->
        <!--社員情報検索 仮-->
        <div class="menu-content">
            <div class="menu-item">
                <a th:href="@{/searchId2}">社員情報検索</a>
            </div>
            <!--社員情報登録-->
            <div class="menu-item">
                <a th:href="@{/insert}">社員情報登録</a>
            </div>
            <!--社員情報削除-->
            <div class="menu-item">
                <a th:href="@{/searchId}">社員情報削除</a>
            </div>
            <!--社員情報更新 仮-->
            <div class="menu-item">
                <a th:href="@{/update}">社員情報更新</a>
            </div>
        </div>
    </main>
    <!--共通フッター-->
    <div th:replace="~{layout::footer}"></div>
</body>
</html>