<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID検索</title>
    <link rel="stylesheet" th:href="@{/layout.css}">
    <link rel="stylesheet" th:href="@{/searchId.css}">
</head>
<body>
    <div th:replace="~{layout::header}"></div>
    <main>
        <h1>社員ID検索</h1>
        <form th:action="@{/delete}" method="post">
            <input type="hidden" name="from" value="single">
            <input type="text" name="selectIds" placeholder="IDを入力してください">
            <button type="submit" class="search">検索</button>
        </form>
        <a th:href="@{/menu}">戻る</a>
        
        <!--エラー表示-->
        <script th:inline="javascript">
            let searchErrorNull = /*[[${searchErrorNull}]]*/ null;
            let searchError = /*[[${searchError}]]*/ null;

            if(searchError){
                alert(searchError);
            }if(searchErrorNull){
                alert(searchErrorNull);
            }
        </script>
    </main>
    <div th:replace="~{layout::footer}"></div>
</body>
</html>